*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
.container{
    text-align: center;
    margin-top: 60px;
}
.title{
    color: whitesmoke;
    font-size: 3rem;
    margin-bottom: 40px;
}
.searchbar{
    width:55%;
    padding:10px;
    background-color: gainsboro;
    font-size: 1.2rem;
    border:none;
    border-radius: 10px;
}
.searchbtn{
    padding:10px;
    color:whitesmoke;
    width:8%;
    background-color: blue;
    font-size: 1.2rem;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.searchbtn:hover{
    background-color: cornflowerblue;
}
.display{
    margin:140px;
    margin-top: 80px;
    display:grid;
    grid-gap: 25px;
    grid-template: auto/repeat(auto-fit,minmax(300px,1fr));
}
.image{
    width:100%;
    height:400px;
}
.image:hover{
    margin-left: 0 40px;
    transform:scale(1.2);
    cursor:pointer;
}